.valign {
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-30%, -30%);
  }
  .tittle{
    font-size: xx-large;
    font-weight: bold;
    margin-left: 2cm;
    color: cornflowerblue;
}
.mat-button{
  margin-left: 1cm;
  background-color: cornflowerblue;
  color: azure;
}